* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    background-color:  #323133 ;
    align-items: center;
  }

  .bar-title{
    align-content: center;
    align-items: center;
    background-color: #FFC312;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    font-size: 25px;
    color: #323133;
    
  }